spring:
  application:
    name: alert-service
  # DB Configuration
  datasource:
    url: jdbc:mysql://localhost:3306/home_energy_tracker
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  # Kafka Configuration
  kafka:
    bootstrap-servers: localhost:9094
    consumer:
      group-id: alert-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.type.mapping: alertingEvent:com.neeraj.kafka.event.AlertingEvent
  # Mail Configuration
  mail:
    host: localhost
    port: 1025
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: false

server:
  port: 8084