spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3306/home_energy_tracker
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
